a.like,
a.unlike,
a.reply,
a.flag {
    pointer-events: none;
    cursor: default;
    opacity: 0.6;
}

i.replyToVideo,
i.replyToVideo:hover,
i.replyToVideo:active {
    color: lightgrey;
    pointer-events: none;
    cursor: default;
}

a.author,
a.author:hover,
a.author:active {
    pointer-events: none;
    cursor: default;
    color: rgba(0, 0, 0, .87);
}

a.avatar,
a.avatar:hover,
a.avatar:active {
    pointer-events: none;
    cursor: default;
}